os
fastapi
fastapi.middleware.cors
pydantic
sqlalchemy
sqlalchemy.ext.declarative
sqlalchemy.orm
dotenv
typing
datetime
requests
math
requests.adapters
requests.packages.urllib3.util.retry
mysql.connector
requests_cache
tqdm
hashlib
difflib
ast
threading